.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: 15px 20px;
    color: white;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 700;
}
  
  
.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
  
.navbar-links li {
    cursor: pointer;
}
  